@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
    --primary: #3575f5;
    --secondary: #f6f9ff;
    --text: #f5f5f5;
}

body {
    font-family: 'Inter', sans-serif;
}

.bg-primary{
    background-color: var(--primary);
    color: var(--text);
}

.bg-secondary{
    background-color: var(--secondary);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.border-primary{
    border-color: var(--primary);
}

/* .router-link-exact-active{
    color: var(--primary);
} */

.big {
    grid-row: span 2;
}