@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #3575f5;
    --text: #f5f5f5;
}

.bg-primary{
    background-color: var(--primary);
    color: var(--text);
}

.text-primary {
    color: var(--primary);
}

.border-primary{
    border-color: var(--primary);
}

/* .router-link-exact-active{
    color: var(--primary);
} */

.big {
    grid-row: span 2;
}