@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #3575f5;
    --secondary: #f6f9ff;
    --text: #f5f5f5;
}

body {
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    left: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.bg-primary {
    background-color: var(--primary);
    color: var(--text);
}

.bg-secondary {
    background-color: var(--secondary);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.border-primary {
    border-color: var(--primary);
}

nav .router-link-exact-active {
    position: relative;
}

nav .router-link-exact-active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    border-bottom: 5px solid var(--primary);
    border-radius: 5px;
}


.big {
    grid-row: span 2;
}